
.gallery{
    width: 100%;
    height: 79vh;
    position: relative;
    top: 2.5vh;
    margin: .75vh;
    padding: .25vh;
    margin-top:2.5% !important;
    border-radius: .5vh;
    transition: width .25s ease-in-out;
    display: grid;
    grid-template-columns: repeat(6, 13.75vw);
    grid-template-rows: repeat(16, 15vw);
    grid-gap: 1.125vh;
    grid-auto-flow: dense;
    overflow: scroll !important;
    scroll-behavior: smooth;
}

.img_container{
    width: 100%;
    height: 100% ;
    border-radius: .5vh;
    box-shadow: 0px 0px 10px -2px black;
    overflow: hidden;
}


.gallery img{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.gallery::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 7px;
}

.gallery::-webkit-scrollbar-thumb {
    width: 0%;
    height: 0px;
    background-color: var(--accent-color);
    border: 2px solid transparent;
    border-radius: 15px;
    background-clip: content-box;
}
.img_container:nth-child(1n) {
    grid-column-start: span 1;
    grid-row-start: span 1;
}
.img_container:nth-child(10n) {
    grid-column-start: span 3;
    grid-row-start: span 2;
}
@media screen and (min-width:1366px) {
    .gallery{
        width: 93%;
        height: 72vh;
        position: relative;
        top: -.5vh;
        margin: .75vw;
        padding: 1.75vw;
        margin-top:2.5% !important;
        border-radius: .25vw;
        transition: width .25s ease-in-out;
        display: grid;
        grid-template-columns: repeat(6, 13.75vw);
        grid-template-rows: repeat(16, 15vw);
        grid-gap: 2vw;
        grid-auto-flow: dense;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .img_container{
        width: 100%;
        height: 100% ;
        border-radius: .5vw !important;
        overflow: hidden;
        box-shadow: 0px 0px 15px 3px black;
        transition: transform .25s ease-in-out;
    }

    .shimmer{
        width: 90%;
        height: 100%;
        /* border: 1px solid var(--sub-color); */
        padding: 1vw;
        border-radius: .5vw !important;
        box-shadow: 0px 0px 25px -15px black;
    }

    .img_container:hover{
        transform: scale(1.05);
    }
    .gallery img{
        width: 100%;
        height: 100%;
        margin: auto;
        display: block;
        object-fit: cover;
    }

    .gallery::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        border-radius: 7px;
    }
    
    .gallery::-webkit-scrollbar-thumb {
        width: 0%;
        height: 0px;
        background-color: var(--accent-color);
        border: 2px solid transparent;
        border-radius: 15px;
        background-clip: content-box;
    }
    .img_container:nth-child(1n) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
    .img_container:nth-child(10n) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }
}