:root{
    --main-color:white;
    --sub-color:black;
    --accent-color:rgb(103, 95, 255);
    --side-border-color:transparent;
    --side-shadow-color:rgb(0,0,0);
}

body.dark{
    --main-color:rgb(22, 22, 22);
    --sub-color:white;
    --accent-color:rgba(103, 95, 255, 0.68);
    --side-border-color:rgb(103, 95, 255);
    --side-shadow-color:rgb(103, 95, 255);
}


.header{
    width: 100%;
    height: 8.75vh;
    position: relative;
    left: 0;
    top: 0;
    background: var(--main-color);
    padding: 0;
    display: inline-block;
}
.leftPart{
    width: 40%;
    height: 95%;
    float: left;
    padding: 0.125vw;
    display: inline-flex;
}

.homelogo{
    width: 3.75vh;
    height: 3.75vh;
    position: relative;
    left: 7.5%;
    top:25%;
    object-fit: fill;
    overflow: hidden;
    border-radius: 1vh;
}

.homelogo img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.headerText{
    width: 50%;
    height: 50%;
    position: relative;
    left: 15%;
    top:30%;
    text-align: left;
    font-size: 2vh;
    font-weight: 600;
    color: var(--sub-color);
}


.rightPart{
    width: 55%;
    height: 95%;
    float: right;
    display: block;
    margin-right: 0;
}

.menu{
    width: 100%;
    height: 100%;
    float: right;
}

.menu ul{
    width: fit-content;
    height: 100%;
    float: right;
    padding: 0vh;
    padding-top: 1.75vh;
    margin: 0;
    list-style: none;
    display: inline-flex;
}

.menu ul li{
    width: fit-content;
    height: 2.75vh;
    border-radius: .5vh;
    background: transparent;
    color: var(--sub-color);
    background: var(--main-color);
    margin: 1vw;
    font-size: 1.5vh;
    padding: .75vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.menu ul li:hover{
    box-shadow: 0px 0px 10px -3px var(--sub-color);
}
.menu ul li img{
    margin: -.25vh;
    width: 3vh;
    height: 3vh;
}

.linkText{
    color:var(--sub-color);
    text-decoration: none;
}


.linkText:hover{
    color: var(--accent-color);
}


#themeIcon{
    border-radius: 50% !important;
}
#themeIcon:hover{
    background: transparent;
    box-shadow: 0px 0px 0 -0 var(--sub-color);
}

@media screen and (min-width:1366px) {
    .header{
        width: 100%;
        height: 7vw;
        position: relative;
        left: 0;
        top: 0;
        background: var(--main-color);
        padding: 0;
        display: inline-block;
    }
    .leftPart{
        width: 40%;
        height: 95%;
        float: left;
        padding: 0.125vw;
        display: inline-flex;
    }

    .homelogo{
        width: 3vw;
        height: 3vw;
        position: relative;
        left: 20%;
        top:25%;
        object-fit: fill;
        overflow: hidden;
        border-radius: .5vw;
    }

    .homelogo img{
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .headerText{
        width: 40%;
        height: 50%;
        position: relative;
        left: 22.5%;
        top:25%;
        text-align: left;
        font-size: 2vw;
        font-weight: 600;
        color: var(--sub-color);
    }

    
    .rightPart{
        width: 40%;
        height: 95%;
        float: right;
        display: block;
        margin-right: 1.5vw;
    }

    .menu{
        width: 100%;
        height: 100%;
        float: right;
    }

    .menu ul{
        width: fit-content;
        height: 100%;
        float: right;
        padding: 1vw;
        margin: 0;
        list-style: none;
        display: inline-flex;
    }

    .menu ul li{
        width: fit-content;
        height:1.5vw;
        border-radius: .5vw;
        background: transparent;
        color: var(--sub-color);
        background: var(--main-color);
        margin: 1vw;
        font-size: 1vw;
        padding: .5vw;
        padding-left: 1vw;
        padding-right: 1vw;
        font-weight: 600;
        cursor: pointer;
    }
    .menu ul li:hover{
        box-shadow: 0px 0px 10px -3px var(--sub-color);
    }

    .menu ul li img{
        margin: -.25vw;
        width: 2vw;
        height: 2vw;
    }
    .linkText{
        color:var(--sub-color);
        text-decoration: none;
    }
    
    .linkText:hover{
        color: var(--accent-color);
    }


    #themeIcon{
        border-radius: 50% !important;
    }
    #themeIcon:hover{
        background: transparent;
        box-shadow: 0px 0px 0 -0 var(--sub-color);
    }
}